/* * {
  border: red solid 1px;
}

.main-background-image {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.main-background-image-small {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  position: relative;
}

.main-background-image-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(10px);
}

.main-welcome-message {
  position: absolute;
  height: 200vh;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.main-welcome-message > span {
  color: rgb(255, 255, 255);
  font-size: 8rem;
  font-family: "Mynerve", cursive;
  font-style: italic;
}

.main-top {
  text-align: center;
  height: fit-content;
  background-color: rgb(240, 240, 230);
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.main-top > * {
  text-align: center;
}

.main-top-heading {
  font-size: 3rem;
}
.main-top-about-us {
  margin-top: 1.25em;
  font-size: 2.5rem;
}
.main-top-description > * {
  margin-top: 0.5em;
  font-size: 1.5rem;
}
.mapped-houses {
  width: 20vw;
  height: auto;
  border-radius: 3rem;
  margin-top: 2em;
  margin-bottom: 2em;
}

.main-middle {
  height: fit-content;
  padding-top: 20vh;
  padding-bottom: 25vh;
  background-color: rgb(20, 27, 34);
}
.main-middle-heading {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.main-middle-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10em;
  margin-right: 10em;
  color: black;
  justify-content: space-around;
  margin-top: 10vh;
}
.main-middle-boxes > * {
  background-color: rgb(185, 180, 180);
  width: 22em;
  height: 18.5em;
  border-radius: 1.5em;
  text-align: center;
}
.main-middle-boxes > * > *:nth-child(1) {
  color: black;
  font-size: 1.75rem;
  margin-top: 2em;
}
.main-middle-boxes > * > *:nth-child(2) {
  color: black;
  font-size: 1.25rem;
  margin-top: 2.25em;
}
.main-middle-boxes > * > *:nth-child(3) {
  color: black;
  font-size: 4rem;
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
}
.main-middle-boxes > * > *:nth-child(3) > * {
  font-size: 0.25em;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.main-bottom {
  height: fit-content;
  padding-top: 25vh;
  padding-bottom: 25vh;
  background-color: rgb(150, 145, 133);
}
.main-bottom-servicetypes {
  font-size: 3rem;
  text-align: center;
}
.main-bottom-servicetypes-content {
  margin-top: 1em;
  text-align: center;
  font-size: 1.25rem;
}
.main-bottom-contactus {
  text-align: center;
  font-size: 3rem;
  margin-top: 1.5em;
}
.main-bottom-contactus-content {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 1.5em;
}

.footer {
  background-color: rgb(40, 37, 37);
  color: wheat;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

/* Log in page */
/* .signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  min-height: 30vh;
  background-color: rgb(223, 194, 238);
}

.signupform h1,
.loginform h1 {
  margin-bottom: 1vh;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  min-height: 30vh;
  background-color: rgb(146, 166, 202);
}

.loginform-error {
  color: red;
}

.loginform input,
.signupform input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 20vw;
}

.loginform button,
.signupform button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 0 auto;
}

.goback {
  margin-top: 1vh;
}

.signupbutton {
  margin-top: 1vh;
} */

/* Main once logged in */
/* .loggedin-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  background-color: rgb(65, 154, 124);
}

.loggedin-main h1 {
  margin-bottom: 3vh;
}

.loggedin-main button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 2vh;
}

.to-signout button {
  padding: 0.5rem;
  font-size: 1.5em;
  background-color: rgb(58, 10, 161);
  border-radius: 1rem;
  border: none;
  color: white;
}
header {
  position: relative;
}

header .main-background-image {
  position: relative;
}

.to-signout {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.to-signout {
  z-index: 2;
}

.logout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  background-color: rgb(234, 162, 162);
}

.logout-content a {
  align-self: flex-start;
}

.logout-content button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.view-lists {
  min-height: 30vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: rgb(178, 214, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.view-lists a {
  align-self: flex-start;
}

.view-lists h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}

.view-lists button {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
}

.view-lists ul {
  list-style: none;
}

.gobackfromlogin {
  position: absolute;
  top: 0rem;
}

.creategroupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  min-height: 30vh;
  background-color: rgb(164, 118, 118);
}

.creategroupform h1 {
  margin-bottom: 20px;
}

.loginform-error {
  color: blue;
}

.creategroupform input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 10vw;
}

.creategroupform button {
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 2vh;
  width: 11vw;
  border: none;
}

.groups-list h3 {
  margin-bottom: 2vh;
}

.link-groups-creategroup {
  text-decoration: none;
  margin: auto;
}

.link-groups-creategroup button {
  margin-top: 3rem;
  background-color: rgb(176, 234, 197);
}

.members-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.members-list button {
  align-self: flex-start;
}

.members-list h1 {
  margin-bottom: 20px;
}

.members-list h3 {
  margin-bottom: 20px;
  color: red;
}

.members-list div {
  margin-bottom: 10px;
  border: rgb(83, 10, 10) solid 1px;
  border-radius: 1rem;
  padding: 1rem;
} */
*/
/* --------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.container-header {
  height: 100vh;
  background-image: url("../assets//images/bg-image.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 10rem;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.links {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.link {
  margin-left: 20px;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

/* Before Login - Top */
.container-top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-top {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 2rem;
  color: #666;
  margin-bottom: 10px;
}

.text {
  font-size: 1.5rem;
  color: #999;
  margin-bottom: 5px;
}

.mapped-houses {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/* Before Login - Middle */
.container-mid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(176, 196, 160);
}

.title-mid {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
}

.buttons-mid {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.button-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-mid {
  font-size: 1.5rem;
  color: #312828;
  margin-bottom: 10px;
}

.link-mid {
  font-size: 2rem;
  color: white;
  background-color: #333;
  padding: 20px 40px;
  text-decoration: none;
}

/* Before Login - Bottom */
.create-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: center;
}

.create-text {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.create-contact {
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
}

.create-name {
  font-weight: bold;
}

.create-email {
  color: blue;
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: rgb(40, 37, 37);
  color: wheat;
  text-align: center;
  height: 4vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

/* Samll Header */
.header-small {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  background-image: url("../assets//images/bg-image.png");
  background-size: cover;
  background-position: center center;
}

.button-small-header {
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
}

.link-small-header {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 20px 40px;
}

/* Sign up form */
.loginform {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginform-title {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
}

.loginform-error {
  font-size: 1.5rem;
  color: red;
  margin-bottom: 10px;
}

.loginform-form {
  display: flex;
  flex-direction: column;
}

.loginform-input {
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
}

.loginform-button {
  font-size: 2rem;
  padding: 10px;
}

.signupbutton {
  margin-top: 20px;
}

.goback {
  margin-top: 10px;
}

/* Logged in main page */
.loggedin-main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 245, 255);
}

.loggedin-title {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
}

.loggedin-button {
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
}

.loggedin-button:hover {
  background-color: #333;
  color: white;
}

/* Create group form */
.create-form {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 251, 184);
}

.create-title {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
}

.create-error {
  font-size: 1.5rem;
  color: red;
  margin-bottom: 10px;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.create-input {
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
}

.create-button {
  font-size: 2rem;
  padding: 10px;
}

.create-button:hover {
  background-color: #333;
  color: white;
}

/* Groups list */
.groups-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.groups-list {
  background-color: lightblue;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.groups-h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: white;
}
.groups-h3 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: white;
}
.groups-li {
  margin: 5px;
}
.groups-button {
  background-color: white;
  border: none;
  cursor: pointer;
}
.link-groups-creategroup {
  display: block;
  margin-top: 10px;
}
.link-groups-button {
  background-color: green;
  border: none;
  color: white;
}

.members-list {
  background-color: lightgreen;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.listofmembers-h1 {
  margin-top: 5rem;
}
.members-button {
  background-color: rgb(255, 198, 198);
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.members-button:hover {
  background-color: red;
}
.members-h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: white;
}
.members-h3 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: white;
}
.members-form {
  display: flex;
  flex-direction: column;
}
.members-input {
  margin: 5px;
}
.member-div {
  border: 1px solid gray;
  margin: 5px;
}
.member-button {
  background-color: rgb(59, 22, 22);
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.member-button:hover {
  background-color: red;
}
.messagecontent {
  height: 10rem;
}

.view-lists {
  min-height: 75vh;
}
.deletegroupbutton {
  margin-top: 2rem;
  background-color: rgb(156, 191, 237);
  padding: 1rem;
  border-radius: 1rem;
}
.deletegroupbutton:hover {
  background-color: rgb(95, 48, 48);
}
